.newExpense{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.newExpenseControl label {
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.newExpenseControl Input {
    font: inherit;
    padding: .5rem;
    border-radius: 6px;
    width: 20rem;

}

.newExpenseAction{
    text-align: right;
}

button{
    background:rgba(85, 196, 51, 0.603);
    color: wheat;
    width: 8rem;
    font-weight: bold;
    text-align: center;
    height: 4rem;
    border-radius: 12px;
font-size:larger;

}